In [1]:
import pandas as pd
import numpy as np


tourney_seeds = pd.read_csv("./Data/TourneySeeds.csv")
rank = []
teams = []
for seed, team in tourney_seeds.loc[:,['Seed','Team']].values:
    rank.append(int(seed[1:3]))
tourney_seeds["NumericalSeeds"] = rank

In [2]:
tourney_compact_results = pd.read_csv("./Data/TourneyCompactResults.csv")

In [17]:
tourney_seeds.head()

   Season Seed  Team  NumericalSeeds
0    1985  W01  1207               1
1    1985  W02  1210               2
2    1985  W03  1228               3
3    1985  W04  1260               4
4    1985  W05  1374               5

In [18]:
result.head()

   Result  Season  Player  Opponent
0       1    1985    1116      1234
1       1    1985    1120      1345
2       1    1985    1207      1250
3       1    1985    1229      1425
4       1    1985    1242      1325

In [3]:
result = pd.DataFrame({
        "Season": pd.concat([tourney_compact_results['Season'], tourney_compact_results['Season']], ignore_index=True),
        "Player": pd.concat([tourney_compact_results['Wteam'], tourney_compact_results['Lteam']], ignore_index=True),
        "Opponent": pd.concat([tourney_compact_results['Lteam'], tourney_compact_results['Wteam']], ignore_index=True),
        "Result": np.hstack([np.ones(tourney_compact_results.shape[0], dtype=int), np.zeros(tourney_compact_results.shape[0], dtype=int)])
    }, columns=["Result", "Season", "Player", "Opponent"])

In [4]:
t = pd.merge(result, tourney_seeds, left_on=['Season', 'Player'], right_on=['Season', 'Team'])
t = t[['Result', 'Season','Player', 'Opponent', 'NumericalSeeds']]
t.columns=['Result', 'Season','Player', 'Opponent', 'PlayerSeed']
result = t

In [5]:
t = pd.merge(result, tourney_seeds, left_on=['Season', 'Opponent'], right_on=['Season', 'Team'])
t = t[['Result', 'Season', 'Player', 'Opponent', 'PlayerSeed', 'NumericalSeeds']]
t.columns = ['Result', 'Season','Player', 'Opponent', 'PlayerSeed', 'OpponentSeed']
result = t

In [23]:
regular = pd.read_csv("./Data/RegularSeasonDetailedResults.csv")
regular.head()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [10]:
regular_rev = regular.ix[:, [0,1,4,5,2,3,7,21,22,23,24,25,26,27,28,29,30,31,32,33,8,9,10,11,12,13,14,15,16,17,18,19,20]]
new_regular = pd.DataFrame(np.vstack([regular_rev.values, 
                                   regular.ix[:, [0,1,2,3,4,5,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33]].values], 
                                 ), columns = ["Season","Daynum","Player","PlayerScore","Opponent","OpponentScore","Numot","Wfgm","Wfga","Wfgm3","Wfga3","Wftm","Wfta","Wor","Wdr","Wast","Wto","Wstl","Wblk","Wpf","Lfgm","Lfga","Lfgm3","Lfga3","Lftm","Lfta","Lor","Ldr","Last","Lto","Lstl","Lblk","Lpf"])

In [12]:
loc = []
revloc = []
for itm in regular['Wloc'].values:
    if itm=='N':
        loc.append(0)
        revloc.append(0)
    elif itm=='H':
        loc.append(1)
        revloc.append(2)
    else:
        loc.append(2)
        revloc.append(1)
new_regular['PlayerLoc']=np.hstack([revloc, loc])
new_regular['PlayerResult']=np.hstack([np.zeros(regular.shape[0], dtype=np.int), np.ones(regular.shape[0], dtype=np.int)])

In [24]:
new_regular.head()

,Season,Daynum,Player,PlayerScore,Opponent,OpponentScore,Numot,Wfgm,Wfga,Wfgm3,...,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf,PlayerLoc,PlayerResult
0,2003,10,1328,62,1104,68,0,22,53,2,...,18,14,24,13,23,7,1,22,0,0
1,2003,10,1393,63,1272,70,0,24,67,6,...,19,15,28,16,13,4,4,18,0,0
2,2003,11,1437,61,1266,73,0,22,73,3,...,29,17,26,15,10,5,2,25,0,0
3,2003,11,1457,50,1296,56,0,18,49,6,...,31,6,19,11,12,14,2,18,0,0
4,2003,11,1208,71,1400,77,0,24,62,6,...,13,17,22,12,14,4,4,20,0,0

Effective field goal percentage

In [42]:
t = new_regular[['Season', 'Player', 'Opponent', 'Wfgm', 'Wfgm3', 'Wfga', 'Lfgm', 'Lfgm3', 'Lfga']].copy()
t["EfgO"] = np.require(t['Wfgm'].values, dtype=np.float)+np.require(t['Wfgm3'].values, dtype=np.float)/2
t["EfgD"] = np.require(t['Lfgm'].values, dtype=np.float)+np.require(t['Lfgm3'].values, dtype=np.float)/2
t = t.groupby(by=['Season', 'Player']).sum()
rst = pd.DataFrame({'EfgO': t['EfgO']/t['Wfga'], 'EfgD': t['EfgD']/t['Lfga']}, columns=['EfgO', 'EfgD'])
rst.head()

                   EfgO      EfgD
Season Player
2003   1102    0.579443  0.510522
       1103    0.534814  0.545809
       1104    0.475953  0.476190
       1105    0.457241  0.511089
       1106    0.479005  0.451505

In [43]:
result = pd.merge(result, rst, left_on=['Season', 'Player'], right_index=True)

,Result,Season,Player,Opponent,PlayerSeed,OpponentSeed,EfgO,EfgD
2272,1,2003,1421,1411,16,16,0.486339,0.518382
2273,0,2003,1421,1400,16,1,0.486339,0.518382
2274,0,2003,1163,1400,5,1,0.523580,0.429628
2300,1,2003,1163,1140,5,12,0.523580,0.429628
2301,1,2003,1163,1390,5,4,0.523580,0.429628

(1828, 7)

## Feature normalization

In [7]:
feature = result[['Result', 'Season', 'Player', 'Opponent']].copy()

In [8]:
#seeddelta
from scipy import stats


cdf = dict()
X = result['PlayerSeed']-result['OpponentSeed']
hist, bin_edges = np.histogram(X.values, bins=31, density=True)
hist /= hist.sum()
cdf['SeedDelta'] = stats.rv_discrete(name='SeedDelta', values=(bin_edges[:-1], hist))
feature['SeedDelta'] = cdf['SeedDelta'].cdf(X.values)

In [11]:
#playerseed
hist, bin_edges = np.histogram(result['PlayerSeed'].values, bins=16, density=True)
hist /= hist.sum()
cdf['PlayerSeed'] = stats.rv_discrete(name='PlayerSeed', values=(bin_edges[:-1], hist))
feature['PlayerSeed'] = cdf['PlayerSeed'].cdf(result['PlayerSeed'].values)

In [12]:
feature.head()

   Result  Season  Player  Opponent  SeedDelta  PlayerSeed
0       1    1985    1116      1234   0.596585    0.694878
1       0    1985    1116      1385   0.862683    0.694878
2       1    1985    1207      1385   0.514146    0.131220
3       0    1985    1246      1385   0.936341    0.847805
4       0    1985    1301      1385   0.607073    0.322439

Parameter tunning

In [13]:
from sklearn.linear_model import LogisticRegression
from sklearn.grid_search import GridSearchCV

seg = feature[(feature['Season']<2003) & (feature['Season'])<2013]
X = seg.ix[:, 4:6].values
Y = seg.ix[:, 0].values
param = {'C':[1000000, 100000, 10000, 1000, 100, 10, 1, 0.1, 0.01, 0.001]}
lr = LogisticRegression()
cver = GridSearchCV(lr, param, scoring='log_loss', cv=5)
cver.fit(X, Y)

GridSearchCV(cv=5, error_score='raise',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'C': [1000000, 100000, 10000, 1000, 100, 10, 1, 0.1, 0.01, 0.001]},
       pre_dispatch='2*n_jobs', refit=True, scoring='log_loss', verbose=0)

In [14]:
cver.best_params_

{'C': 10}

In [15]:
lr = LogisticRegression(C=10)
lr.fit(X, Y)

LogisticRegression(C=10, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

Test on test set

In [56]:
test = feature[(feature['Season']==2013)]
Xt = test.ix[:, 4:6].values
Yt = test.ix[:, 0].values
Yp = lr.predict_proba(Xt)
test['Pred']=Yp[:, 1]

/home/ike/.miniconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [95]:
Xt[2, :]

array([ 0.80878049,  0.64609756])

In [93]:
test

      Result  Season  Player  Opponent  SeedDelta  PlayerSeed      Pred
3564       1    2013    1299      1251   0.514146    1.000000  0.477876
3565       0    2013    1299      1257   1.000000    1.000000  0.121022
3566       0    2013    1161      1257   0.808780    0.646098  0.243410
3567       0    2013    1276      1257   0.672683    0.401707  0.370005
3568       0    2013    1332      1257   0.936341    0.847805  0.155747
3569       0    2013    1455      1257   0.862683    0.694878  0.204492
3570       0    2013    1181      1257   0.596585    0.236098  0.453331
3571       1    2013    1388      1292   0.514146    0.798780  0.492531
3572       0    2013    1388      1272   0.753902    0.798780  0.275951
3573       1    2013    1277      1272   0.392927    0.322439  0.641441
3574       1    2013    1241      1254   0.514146    1.000000  0.477876
3575       0    2013    1241      1231   1.000000    1.000000  0.121022
3576       1    2013    1393      1231   0.672683    0.401707  0.370005
3577       0    2013    1396      1231   0.862683    0.694878  0.204492
3578       1    2013    1247      1129   0.514146    0.887317  0.486080
3579       1    2013    1247      1243   0.898780    0.887317  0.174322
3580       1    2013    1247      1279   0.596585    0.887317  0.406825
3581       0    2013    1458      1279   0.242195    0.467561  0.755280
3582       0    2013    1247      1455   0.699024    0.887317  0.315076
3583       0    2013    1211      1455   0.191220    0.131220  0.805932
3584       1    2013    1257      1455   0.191220    0.131220  0.805932
3585       0    2013    1326      1455   0.242195    0.236098  0.767539
3586       0    2013    1338      1455   0.485854    0.646098  0.531196
3587       1    2013    1112      1125   0.300976    0.533659  0.706518
3588       1    2013    1112      1217   0.191220    0.533659  0.786918
3589       0    2013    1307      1217   0.099512    0.322439  0.848846
3590       0    2013    1112      1326   0.699024    0.533659  0.337742
3591       1    2013    1455      1326   0.808780    0.694878  0.240801
3592       0    2013    1235      1326   0.862683    0.746098  0.202074
3593       0    2013    1233      1326   0.968780    0.958049  0.136010
...      ...     ...     ...       ...        ...         ...       ...
3668       0    2013    1153      1166   0.672683    0.746098  0.346917
3669       1    2013    1195      1207   0.968780    0.958049  0.136010
3670       1    2013    1195      1361   0.862683    0.958049  0.192292
3671       0    2013    1328      1361   0.672683    0.746098  0.346917
3672       1    2013    1196      1322   0.099512    0.322439  0.848846
3673       1    2013    1196      1278   0.191220    0.322439  0.797062
3674       0    2013    1417      1278   0.300976    0.533659  0.706518
3675       1    2013    1196      1195   0.063659    0.322439  0.865921
3676       0    2013    1361      1195   0.191220    0.592439  0.784030
3677       0    2013    1207      1195   0.062439    0.236098  0.869358
3678       1    2013    1228      1160   0.392927    0.592439  0.623139
3679       1    2013    1231      1241   0.031220    0.131220  0.885704
3680       0    2013    1254      1241   0.514146    1.000000  0.477876
3681       1    2013    1231      1396   0.191220    0.131220  0.805932
3682       0    2013    1301      1396   0.485854    0.646098  0.531196
3683       1    2013    1235      1323   0.672683    0.746098  0.346917
3684       1    2013    1242      1443   0.031220    0.131220  0.885704
3685       1    2013    1242      1314   0.242195    0.131220  0.772951
3686       0    2013    1437      1314   0.596585    0.694878  0.420433
3687       1    2013    1274      1334   0.062439    0.236098  0.869358
3688       1    2013    1274      1228   0.300976    0.236098  0.724181
3689       0    2013    1160      1228   0.672683    0.746098  0.346917
3690       1    2013    1278      1417   0.753902    0.798780  0.275951
3691       1    2013    1279      1458   0.808780    0.847805  0.232743
3692       1    2013    1314      1437   0.485854    0.646098  0.531196
3693       1    2013    1326      1233   0.062439    0.236098  0.869358
3694       1    2013    1326      1235   0.191220    0.236098  0.801104
3695       0    2013    1323      1235   0.392927    0.592439  0.623139
3696       1    2013    1361      1328   0.392927    0.592439  0.623139
3697       1    2013    1396      1301   0.596585    0.694878  0.420433

[134 rows x 7 columns]

In [37]:
Yp

array([[ 0.52212361,  0.47787639],
       [ 0.87897794,  0.12102206],
       [ 0.65793354,  0.34206646],
       [ 0.79550755,  0.20449245],
       [ 0.70833871,  0.29166129],
       [ 0.81967106,  0.18032894],
       [ 0.54666893,  0.45333107],
       [ 0.50746933,  0.49253067],
       [ 0.72404884,  0.27595116],
       [ 0.80039193,  0.19960807],
       [ 0.43917832,  0.56082168],
       [ 0.84717593,  0.15282407],
       [ 0.52212361,  0.47787639],
       [ 0.87897794,  0.12102206],
       [ 0.62999549,  0.37000451],
       [ 0.54666893,  0.45333107],
       [ 0.7565896 ,  0.2434104 ],
       [ 0.50746933,  0.49253067],
       [ 0.72404884,  0.27595116],
       [ 0.26975291,  0.73024709],
       [ 0.80619026,  0.19380974],
       [ 0.57227145,  0.42772855],
       [ 0.767257  ,  0.232743  ],
       [ 0.80266593,  0.19733407],
       [ 0.34583919,  0.65416081],
       [ 0.82567761,  0.17432239],
       [ 0.57956658,  0.42043342],
       [ 0.79550755,  0.20449245],
       [ 0.62999549,  0.37000451],
       [ 0.81967106,  0.18032894],
       [ 0.87897794,  0.12102206],
       [ 0.57956658,  0.42043342],
       [ 0.79550755,  0.20449245],
       [ 0.65793354,  0.34206646],
       [ 0.54666893,  0.45333107],
       [ 0.87897794,  0.12102206],
       [ 0.1743546 ,  0.8256454 ],
       [ 0.20670202,  0.79329798],
       [ 0.24471956,  0.75528044],
       [ 0.72404884,  0.27595116],
       [ 0.80039193,  0.19960807],
       [ 0.84717593,  0.15282407],
       [ 0.58693057,  0.41306943],
       [ 0.16329071,  0.83670929],
       [ 0.16329071,  0.83670929],
       [ 0.73323053,  0.26676947],
       [ 0.37686072,  0.62313928],
       [ 0.24471956,  0.75528044],
       [ 0.56333596,  0.43666404],
       [ 0.82567761,  0.17432239],
       [ 0.1743546 ,  0.8256454 ],
       [ 0.20670202,  0.79329798],
       [ 0.24471956,  0.75528044],
       [ 0.1142956 ,  0.8857044 ],
       [ 0.19406796,  0.80593204],
       [ 0.46880372,  0.53119628],
       [ 0.29045463,  0.70954537],
       [ 0.80448445,  0.19551555],
       [ 0.767257  ,  0.232743  ],
       [ 0.43166078,  0.56833922],
       [ 0.55290043,  0.44709957],
       [ 0.43166078,  0.56833922],
       [ 0.71186697,  0.28813303],
       [ 0.46650259,  0.53349741],
       [ 0.86399046,  0.13600954],
       [ 0.1743546 ,  0.8256454 ],
       [ 0.45110474,  0.54889526],
       [ 0.29045463,  0.70954537],
       [ 0.767257  ,  0.232743  ],
       [ 0.15115376,  0.84884624],
       [ 0.20293764,  0.79706236],
       [ 0.50746933,  0.49253067],
       [ 0.29348225,  0.70651775],
       [ 0.1142956 ,  0.8857044 ],
       [ 0.52212361,  0.47787639],
       [ 0.19406796,  0.80593204],
       [ 0.46880372,  0.53119628],
       [ 0.57956658,  0.42043342],
       [ 0.15115376,  0.84884624],
       [ 0.20293764,  0.79706236],
       [ 0.47607108,  0.52392892],
       [ 0.29348225,  0.70651775],
       [ 0.1142956 ,  0.8857044 ],
       [ 0.19406796,  0.80593204],
       [ 0.46880372,  0.53119628],
       [ 0.767257  ,  0.232743  ],
       [ 0.80266593,  0.19733407],
       [ 0.34583919,  0.65416081],
       [ 0.82567761,  0.17432239],
       [ 0.82567761,  0.17432239],
       [ 0.37686072,  0.62313928],
       [ 0.24471956,  0.75528044],
       [ 0.20986842,  0.79013158],
       [ 0.1743546 ,  0.8256454 ],
       [ 0.86399046,  0.13600954],
       [ 0.72404884,  0.27595116],
       [ 0.80039193,  0.19960807],
       [ 0.43917832,  0.56082168],
       [ 0.84717593,  0.15282407],
       [ 0.29348225,  0.70651775],
       [ 0.50746933,  0.49253067],
       [ 0.21308223,  0.78691777],
       [ 0.15115376,  0.84884624],
       [ 0.4606483 ,  0.5393517 ],
       [ 0.27581918,  0.72418082],
       [ 0.65308254,  0.34691746],
       [ 0.13064176,  0.86935824],
       [ 0.19889578,  0.80110422],
       [ 0.37686072,  0.62313928],
       [ 0.1142956 ,  0.8857044 ],
       [ 0.52212361,  0.47787639],
       [ 0.22704923,  0.77295077],
       [ 0.57956658,  0.42043342],
       [ 0.43166078,  0.56833922],
       [ 0.55290043,  0.44709957],
       [ 0.79792636,  0.20207364],
       [ 0.46650259,  0.53349741],
       [ 0.86399046,  0.13600954],
       [ 0.84717593,  0.15282407],
       [ 0.46880372,  0.53119628],
       [ 0.65308254,  0.34691746],
       [ 0.30648862,  0.69351138],
       [ 0.13064176,  0.86935824],
       [ 0.15115376,  0.84884624],
       [ 0.20293764,  0.79706236],
       [ 0.29348225,  0.70651775],
       [ 0.65308254,  0.34691746],
       [ 0.13064176,  0.86935824],
       [ 0.27581918,  0.72418082],
       [ 0.65308254,  0.34691746],
       [ 0.37686072,  0.62313928],
       [ 0.71186697,  0.28813303],
       [ 0.86399046,  0.13600954],
       [ 0.13064176,  0.86935824]])

In [34]:
#keeps the best auc
from sklearn.metrics import log_loss

log_loss(Yt, Yp)

0.52649896905457294

In [38]:
from sklearn.metrics import log_loss
log_loss(Yt, Yp)

0.59969320347157529

In [35]:
#keeps the best auc
from sklearn.metrics import roc_auc_score

roc_auc_score(Yt, Yp[:,1])

0.82223212296725323

In [39]:
from sklearn.metrics import roc_auc_score
roc_auc_score(Yt, Yp[:,1])

0.74504343951882379

# Submit result

In [69]:
submission = pd.read_csv("./Data/sample_submission.csv")
content = []
for row in submission.iterrows():
    content.append(map(int, row[1].ix[0].split('_')))

In [70]:
submission = pd.DataFrame(content, columns=['Season', 'Player', 'Opponent'])

In [79]:
# take features from existing data
t = pd.merge(submission, tourney_seeds, left_on=['Season', 'Player'], right_on=['Season', 'Team'])
t = t.ix[:, [0,1,2,5]]
t.columns = ['Season', 'Player', 'Opponent', 'PlayerSeed']
t = pd.merge(t, tourney_seeds, left_on=['Season', 'Opponent'], right_on=['Season', 'Team'])
t = t.ix[:, [0, 1, 2, 3, 6]]
t.columns = ['Season', 'Player', 'Opponent', 'PlayerSeed', 'OpponentSeed']
t['SeedDelta'] = cdf['SeedDelta'].cdf(t['PlayerSeed']-t['OpponentSeed'])
t['PlayerSeed'] = cdf['PlayerSeed'].cdf(t['PlayerSeed'])

In [100]:
t[(t['Player']==1161) & (t['Opponent']==1257)]

     Season  Player  Opponent  PlayerSeed  OpponentSeed  SeedDelta
416    2013    1161      1257    0.646098             1    0.80878

In [48]:
X = t.ix[:, [5, 3]].values
Y = lr.predict_proba(X)

In [111]:
t['Prediction']=Y[:, 1]

In [115]:
id = []
pred = []
for row in t.iterrows():
    id.append("{0}_{1}_{2}".format(int(row[1].ix[0]), int(row[1].ix[1]), int(row[1].ix[2])))
    pred.append(row[1].ix[6])

In [116]:
submit = pd.DataFrame({"id":id, "pred":pred}, columns=['id', 'pred'])

In [117]:
submit.head()

               id      pred
0  2013_1103_1107  0.605500
1  2013_1103_1112  0.270094
2  2013_1107_1112  0.171374
3  2013_1103_1125  0.409608
4  2013_1107_1125  0.310642

In [125]:
submit.to_csv("result.csv", index=False)

Try to calculate loss locally

In [119]:
submission = t[['Season', 'Player', 'Opponent', 'Prediction']]

In [110]:
submission.shape

(9112, 4)

In [120]:
submission[(submission['Player']==1161) & (submission['Opponent']==1257)]

     Season  Player  Opponent  Prediction
416    2013    1161      1257     0.24341

In [121]:
t1 = pd.merge(submission, tourney_compact_results, left_on=['Season', 'Player', 'Opponent'], right_on=['Season', 'Wteam', 'Lteam'])
t2 = pd.merge(submission, tourney_compact_results, left_on=['Season', 'Player', 'Opponent'], right_on=['Season', 'Lteam', 'Wteam'])

In [124]:
t1['Label']=1
t2['Label']=0
submission = pd.concat([t1, t2], ignore_index=True)
log_loss(submission['Label'].values, submission['Prediction'].values)

0.59209624341275435

In [246]:
submission['pred'] = Y[:,0]

In [247]:
submission.to_csv("result.csv", index=False)