In [1]:
import pandas as pd
import numpy as np


tourney_seeds = pd.read_csv("./Data/TourneySeeds.csv")
rank = []
teams = []
for seed, team in tourney_seeds.loc[:,['Seed','Team']].values:
    rank.append(int(seed[1:3]))
tourney_seeds["NumericalSeeds"] = rank

In [2]:
tourney_compact_results = pd.read_csv("./Data/TourneyCompactResults.csv")

In [17]:
tourney_seeds.head()

   Season Seed  Team  NumericalSeeds
0    1985  W01  1207               1
1    1985  W02  1210               2
2    1985  W03  1228               3
3    1985  W04  1260               4
4    1985  W05  1374               5

In [3]:
tourney_compact_results.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985     136   1116      63   1234      54    N      0
1    1985     136   1120      59   1345      58    N      0
2    1985     136   1207      68   1250      43    N      0
3    1985     136   1229      58   1425      55    N      0
4    1985     136   1242      49   1325      38    N      0

In [3]:
result = pd.DataFrame({
        "Season": pd.concat([tourney_compact_results['Season'], tourney_compact_results['Season']], ignore_index=True),
        "Player": pd.concat([tourney_compact_results['Wteam'], tourney_compact_results['Lteam']], ignore_index=True),
        "Opponent": pd.concat([tourney_compact_results['Lteam'], tourney_compact_results['Wteam']], ignore_index=True),
        "Result": np.hstack([np.ones(tourney_compact_results.shape[0], dtype=int), np.zeros(tourney_compact_results.shape[0], dtype=int)])
    }, columns=["Result", "Season", "Player", "Opponent"])

In [4]:
t = pd.merge(result, tourney_seeds, left_on=['Season', 'Player'], right_on=['Season', 'Team'])
t = t[['Result', 'Season','Player', 'Opponent', 'NumericalSeeds']]
t.columns=['Result', 'Season','Player', 'Opponent', 'PlayerSeed']
result = t

In [5]:
t = pd.merge(result, tourney_seeds, left_on=['Season', 'Opponent'], right_on=['Season', 'Team'])
t = t[['Result', 'Season', 'Player', 'Opponent', 'PlayerSeed', 'NumericalSeeds']]
t.columns = ['Result', 'Season','Player', 'Opponent', 'PlayerSeed', 'OpponentSeed']
result = t

In [6]:
regular = pd.read_csv("./Data/RegularSeasonDetailedResults.csv")
regular.head()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [7]:
regular_rev = regular.ix[:, [0,1,4,5,2,3,7,21,22,23,24,25,26,27,28,29,30,31,32,33,8,9,10,11,12,13,14,15,16,17,18,19,20]]
new_regular = pd.DataFrame(np.vstack([regular_rev.values, 
                                   regular.ix[:, [0,1,2,3,4,5,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33]].values], 
                                 ), columns = ["Season","Daynum","Player","PlayerScore","Opponent","OpponentScore","Numot","Wfgm","Wfga","Wfgm3","Wfga3","Wftm","Wfta","Wor","Wdr","Wast","Wto","Wstl","Wblk","Wpf","Lfgm","Lfga","Lfgm3","Lfga3","Lftm","Lfta","Lor","Ldr","Last","Lto","Lstl","Lblk","Lpf"])

In [8]:
loc = []
revloc = []
for itm in regular['Wloc'].values:
    if itm=='N':
        loc.append(0)
        revloc.append(0)
    elif itm=='H':
        loc.append(1)
        revloc.append(2)
    else:
        loc.append(2)
        revloc.append(1)
new_regular['PlayerLoc']=np.hstack([revloc, loc])
new_regular['PlayerResult']=np.hstack([np.zeros(regular.shape[0], dtype=np.int), np.ones(regular.shape[0], dtype=np.int)])

generate weight

In [9]:
w = np.ones(new_regular.shape[0])
#w[new_regular['Daynum'].values>=(132-7)]=2.0
new_regular['Weight']=w

Effective field goal percentage

In [10]:
t = new_regular[['Season', 'Player', 'Opponent', 'Wfgm', 'Wfgm3', 'Wfga', 'Lfgm', 'Lfgm3', 'Lfga', 'Weight']].copy()
t["EfgO"] = np.require(t['Wfgm'].values, dtype=np.float)+np.require(t['Wfgm3'].values, dtype=np.float)/2
t["EfgO"] = t['EfgO']/t['Wfga']*t['Weight']
t["EfgD"] = np.require(t['Lfgm'].values, dtype=np.float)+np.require(t['Lfgm3'].values, dtype=np.float)/2
t["EfgD"] = t['EfgD']/t['Lfga']*t['Weight']
t = t.groupby(by=['Season', 'Player']).mean()
rst = pd.DataFrame({'EfgO': t['EfgO'], 'EfgD': t['EfgD']}, columns=['EfgO', 'EfgD'])
rst.head()

                   EfgO      EfgD
Season Player
2003   1102    0.584407  0.514142
       1103    0.536564  0.549098
       1104    0.475785  0.480099
       1105    0.457983  0.509308
       1106    0.481697  0.452774

In [11]:
feature = pd.DataFrame(tourney_seeds[['Season', 'Team']].values, columns=['Season', 'Player'])
feature = pd.merge(feature, rst, left_on=['Season', 'Player'], right_index=True)

Turnover percentage

In [12]:
t = new_regular[['Season', 'Player', 'Opponent', 'Wfga', 'Wfta', 'Wto', 'Lfga', 'Lfta', 'Lto', 'Weight']].copy()
t["TopO"] = np.require(t['Wfga'].values+t['Wto'].values, dtype=np.float) + \
0.44* np.require(t['Wfta'].values, dtype=np.float)
t["TopO"] = t['Wto']/t['TopO']*t['Weight']
t["TopD"] = np.require(t['Lfga'].values+t['Lto'].values, dtype=np.float) + \
0.44* np.require(t['Lfta'].values, dtype=np.float)
t["TopD"] = t['Lto']/t['TopD']*t['Weight']
t = t.groupby(by=['Season', 'Player']).mean()
rst = pd.DataFrame({'TopO': t['TopO'], 'TopD': t['TopD']}, columns=['TopO', 'TopD'])
rst.head()

                   TopO      TopD
Season Player
2003   1102    0.193121  0.203236
       1103    0.159805  0.186897
       1104    0.167275  0.179498
       1105    0.207792  0.212924
       1106    0.213721  0.194026

In [13]:
feature = pd.merge(feature, rst, left_on=['Season', 'Player'], right_index=True)

Rebounding

In [14]:
t = new_regular[['Season', 'Player', 'Opponent', 'Wor', 'Wdr', 'Lor', 'Ldr', 'Weight']].copy()
t["ORB"] = np.require(t["Wor"].values+t["Ldr"].values, dtype=np.float)
t["ORB"] = t['Wor']/t['ORB']*t['Weight']
t["DRB"] = np.require(t["Wdr"].values+t["Lor"].values, dtype=np.float)
t["DRB"] = t['Wdr']/t['DRB']*t['Weight']
t = t.groupby(by=['Season', 'Player']).mean()
rst = pd.DataFrame({'ORB': t['ORB'], 'DRB': t['DRB']}, columns=['ORB', 'DRB'])
rst.head()

                    ORB       DRB
Season Player
2003   1102    0.168235  0.630384
       1103    0.305803  0.626998
       1104    0.371256  0.686897
       1105    0.335166  0.641434
       1106    0.349480  0.679342

In [15]:
feature = pd.merge(feature, rst, left_on=['Season', 'Player'], right_index=True)

free throws

In [16]:
t = new_regular[['Season', 'Player', 'Opponent', 'Wfga', 'Wftm', 'Lfga', 'Lftm', 'Weight']].copy()
t['OFT'] = np.require(t['Wftm'].values, dtype=np.float)/np.require(t['Wfga'].values, dtype=np.float)*t['Weight'].values
t['DFT'] = np.require(t['Lftm'].values, dtype=np.float)/np.require(t['Lfga'].values, dtype=np.float)*t['Weight'].values
t = t.groupby(by=['Season', 'Player']).mean()
rst = pd.DataFrame({'OFT': t['OFT'], 'DFT': t['DFT']}, 
                   columns=['OFT', 'DFT'])
rst.head()

                    OFT       DFT
Season Player
2003   1102    0.291436  0.336057
       1103    0.342976  0.282092
       1104    0.263855  0.223414
       1105    0.255629  0.289471
       1106    0.199740  0.297459

In [17]:
feature = pd.merge(feature, rst, left_on=['Season', 'Player'], right_index=True)

assist

In [18]:
t = new_regular[['Season', 'Player', 'Opponent', 'Wfga', 'Wfta', 'Wast', 'Lfga', 'Lfta', 'Last', 'Weight']].copy()
t["AstO"] = np.require(t['Wfga'].values+t['Wast'].values, dtype=np.float) + \
0.44* np.require(t['Wfta'].values, dtype=np.float)
t["AstO"] = t['Wast']/t['AstO']*t['Weight']
t["AstD"] = np.require(t['Lfga'].values+t['Last'].values, dtype=np.float) + \
0.44* np.require(t['Lfta'].values, dtype=np.float)
t["AstD"] = t['Last']/t['AstD']*t['Weight']
t = t.groupby(by=['Season', 'Player']).mean()
rst = pd.DataFrame({'AstO': t['AstO'], 'AstD': t['AstD']}, columns=['AstO', 'AstD'])
rst.head()

                   AstO      AstD
Season Player
2003   1102    0.211098  0.151343
       1103    0.183910  0.188268
       1104    0.152915  0.155161
       1105    0.168060  0.183142
       1106    0.155741  0.155688

In [19]:
feature = pd.merge(feature, rst, left_on=['Season', 'Player'], right_index=True)

In [20]:
t = new_regular[['Season', 'Player', 'Opponent', 'Wfgm', 'Wfga', 'Wfgm3', 'Wfga3', 'Wftm', 'Wfta', 'Wast', 'Wto', 'Weight']].copy()
t = t.groupby(by=['Season', 'Player']).sum()
rst = pd.DataFrame({'FGRate': t['Wfgm']/t['Wfga'], 'FG3Rate': t['Wfgm3']/t['Wfga3'], 'FTRate': t['Wftm']/t['Wfta'], 'AstTo': t['Wast']/t['Wto']}, 
                   columns=['FGRate', 'FG3Rate', 'FTRate', 'AstTo'])
rst.head()

                 FGRate   FG3Rate    FTRate     AstTo
Season Player
2003   1102    0.481149  0.375643  0.651357  1.137500
       1103    0.486074  0.338710  0.736390  1.205279
       1104    0.420362  0.320144  0.709898  0.911290
       1105    0.395755  0.364815  0.705986  0.779381
       1106    0.423773  0.346154  0.646421  0.685535

In [21]:
feature = pd.merge(feature, rst, left_on=['Season', 'Player'], right_index=True)

Messay Ranking

In [22]:
w = np.ones(regular.shape[0])
w[regular['Daynum'].values>=(132-15)]=2.0
regular['Weight']=w

In [23]:
from rankit.util import Converter
from rankit.ranker import *

frames = []
for year in range(2003, 2017):
    table = regular[regular['Season']==year][['Wteam', 'Lteam', 'Wscore', 'Lscore', 'Weight']].copy()
    table.columns = [['primary', 'secondary', 'rate1', 'rate2', 'weight']]
    #table['weight'] = np.ones(table.shape[0])
    
    cvt = Converter(table=table)
    M=cvt.MasseyMatrix()
    b=cvt.MasseyVector()
    ranker=MasseyRank(itemlist=cvt.ItemList())
    x=ranker.rate(M,b)
    bigtable=ranker.rank(x)
    bigtable.drop(['rank'], 1, inplace=True)
    bigtable = bigtable.rename(columns={'rate': "Massey"})
    
    C=cvt.ColleyMatrix()
    b=cvt.ColleyVector()
    ranker=ColleyRank(itemlist=cvt.ItemList())
    x=ranker.rate(C,b)
    r=ranker.rank(x)
    r.drop(['rank'], 1, inplace=True)
    r.rename(columns={'rate': "Colley"}, inplace=True)
    bigtable = pd.merge(bigtable, r, on='title')
    
    M=cvt.SymmetricDifferenceMatrix()
    ranker=DifferenceRank(itemlist=cvt.ItemList())
    x=ranker.rate(M)
    r=ranker.rank(x)
    r.drop(['rank'], 1, inplace=True)
    r.rename(columns={'rate': "Differ"}, inplace=True)
    bigtable = pd.merge(bigtable, r, on='title')
    
    M=cvt.RateDifferenceVoteMatrix()
    ranker=MarkovRank(itemlist=cvt.ItemList(), epsilon=0.6)
    x = ranker.rate(M)
    r = ranker.rank(x)
    r.drop(['rank'], 1, inplace=True)
    r.rename(columns={'rate': "MarkovRDV"}, inplace=True)
    bigtable = pd.merge(bigtable, r, on='title')
    
    M=cvt.SimpleDifferenceVoteMatrix()
    ranker=MarkovRank(itemlist=cvt.ItemList(), epsilon=0.6)
    x = ranker.rate(M)
    r = ranker.rank(x)
    r.drop(['rank'], 1, inplace=True)
    r.rename(columns={'rate': "MarkovSDV"}, inplace=True)
    bigtable = pd.merge(bigtable, r, on='title')
    
    M=cvt.RateVoteMatrix()
    ranker=ODRank(itemlist=cvt.ItemList(), iteration=1000000)
    x=ranker.rate(M)
    r=ranker.rank(x)
    r.drop(['rank'], 1, inplace=True)
    r.rename(columns={'rate': "OD"}, inplace=True)
    bigtable = pd.merge(bigtable, r, on='title')
    
    C = cvt.CountMatrix()
    ranker=KeenerRank(itemlist=cvt.ItemList(), epsilon=1e-4)
    x = ranker.rate(M.T, C)
    r = ranker.rank(x)
    r.drop(['rank'], 1, inplace=True)
    r.rename(columns={'rate': "Keener"}, inplace=True)
    bigtable = pd.merge(bigtable, r, on='title')
    
    bigtable['Team']=np.require(bigtable.ix[:, 0].values, dtype=np.int)
    bigtable.drop('title', 1, inplace=True)
    bigtable['Year'] = year*np.ones(bigtable.shape[0], dtype=np.int)
    frames.append(bigtable)

/home/ike/Projects/ranking/rankit/util/converter.py:202: RuntimeWarning: invalid value encountered in divide
  S = D/C
/home/ike/Projects/ranking/rankit/ranker/EigRank.py:27: RuntimeWarning: invalid value encountered in divide
  S = S/np.expand_dims(s, axis=1)

In [24]:
ranking = pd.concat(frames, ignore_index=True)
ranking.shape

(4779, 9)

In [25]:
feature = pd.merge(feature, ranking, left_on=["Season", "Player"], right_on=["Year", "Team"])
feature.drop(['Year','Team'], axis=1, inplace=True)
feature.head()

,Season,Player,EfgO,EfgD,TopO,TopD,ORB,DRB,OFT,DFT,...,FG3Rate,FTRate,AstTo,Massey,Colley,Differ,MarkovRDV,MarkovSDV,OD,Keener
0,2003,1328,0.512124,0.448150,0.155078,0.181439,0.347284,0.709854,0.234856,0.236844,...,0.393673,0.707885,1.200565,50.711750,0.978662,0.940367,0.007066,0.006171,2982.190430,0.003958
1,2003,1448,0.511972,0.463124,0.178941,0.167749,0.429724,0.687237,0.354094,0.221934,...,0.344358,0.752591,0.965753,48.587179,0.940367,0.862895,0.007634,0.005863,2835.567139,0.003220
2,2003,1393,0.515151,0.445717,0.160408,0.165338,0.385242,0.630790,0.274586,0.199656,...,0.330435,0.693431,1.098734,48.047815,0.937698,0.801223,0.005666,0.005944,2810.180420,0.003929
3,2003,1257,0.528861,0.450485,0.156505,0.205507,0.356053,0.664037,0.292504,0.329973,...,0.360399,0.695883,1.241895,51.215123,0.946595,1.198777,0.011890,0.007738,2919.098877,0.004260
4,2003,1280,0.521359,0.463462,0.197467,0.208120,0.383446,0.695785,0.220035,0.199428,...,0.343621,0.676749,0.927505,49.042847,0.834543,0.816004,0.006985,0.005437,2905.012695,0.003999

## Feature normalization

In [26]:
from scipy import stats

cdf = dict()
hist, bin_edges = np.histogram(feature['EfgO'].values, bins=10000, density=True)
hist/=hist.sum()
cdf['EfgO'] = stats.rv_discrete(name='EfgO', values=(bin_edges[:-1], hist))
feature['EfgO'] = cdf['EfgO'].cdf(feature['EfgO'].values)

In [27]:
hist, bin_edges = np.histogram(feature['EfgD'].values, bins=10000, density=True)
hist/=hist.sum()
cdf['EfgD'] = stats.rv_discrete(name='EfgD', values=(bin_edges[:-1], hist))
feature['EfgD'] = cdf['EfgD'].cdf(feature['EfgD'].values)

hist, bin_edges = np.histogram(feature['TopO'].values, bins=10000, density=True)
hist/=hist.sum()
cdf['TopO'] = stats.rv_discrete(name='TopO', values=(bin_edges[:-1], hist))
feature['TopO'] = cdf['TopO'].cdf(feature['TopO'].values)

hist, bin_edges = np.histogram(feature['TopD'].values, bins=10000, density=True)
hist/=hist.sum()
cdf['TopD'] = stats.rv_discrete(name='TopD', values=(bin_edges[:-1], hist))
feature['TopD'] = cdf['TopD'].cdf(feature['TopD'].values)

hist, bin_edges = np.histogram(feature['ORB'].values, bins=10000, density=True)
hist/=hist.sum()
cdf['ORB'] = stats.rv_discrete(name='ORB', values=(bin_edges[:-1], hist))
feature['ORB'] = cdf['ORB'].cdf(feature['ORB'].values)

hist, bin_edges = np.histogram(feature['DRB'].values, bins=10000, density=True)
hist/=hist.sum()
cdf['DRB'] = stats.rv_discrete(name='DRB', values=(bin_edges[:-1], hist))
feature['DRB'] = cdf['DRB'].cdf(feature['DRB'].values)

hist, bin_edges = np.histogram(feature['OFT'].values, bins=10000, density=True)
hist/=hist.sum()
cdf['OFT'] = stats.rv_discrete(name='DRB', values=(bin_edges[:-1], hist))
feature['OFT'] = cdf['OFT'].cdf(feature['OFT'].values)

hist, bin_edges = np.histogram(feature['DFT'].values, bins=10000, density=True)
hist/=hist.sum()
cdf['DFT'] = stats.rv_discrete(name='DFT', values=(bin_edges[:-1], hist))
feature['DFT'] = cdf['DFT'].cdf(feature['DFT'].values)

hist, bin_edges = np.histogram(feature['AstO'].values, bins=10000, density=True)
hist/=hist.sum()
cdf['AstO'] = stats.rv_discrete(name='AstO', values=(bin_edges[:-1], hist))
feature['AstO'] = cdf['AstO'].cdf(feature['AstO'].values)

hist, bin_edges = np.histogram(feature['AstD'].values, bins=10000, density=True)
hist/=hist.sum()
cdf['AstD'] = stats.rv_discrete(name='AstD', values=(bin_edges[:-1], hist))
feature['AstD'] = cdf['AstD'].cdf(feature['AstD'].values)

hist, bin_edges = np.histogram(feature['FGRate'].values, bins=10000, density=True)
hist/=hist.sum()
cdf['FGRate'] = stats.rv_discrete(name='FGRate', values=(bin_edges[:-1], hist))
feature['FGRate'] = cdf['FGRate'].cdf(feature['FGRate'].values)

hist, bin_edges = np.histogram(feature['FG3Rate'].values, bins=10000, density=True)
hist/=hist.sum()
cdf['FG3Rate'] = stats.rv_discrete(name='FG3Rate', values=(bin_edges[:-1], hist))
feature['FG3Rate'] = cdf['FG3Rate'].cdf(feature['FG3Rate'].values)

hist, bin_edges = np.histogram(feature['FTRate'].values, bins=10000, density=True)
hist/=hist.sum()
cdf['FTRate'] = stats.rv_discrete(name='FTRate', values=(bin_edges[:-1], hist))
feature['FTRate'] = cdf['FTRate'].cdf(feature['FTRate'].values)

hist, bin_edges = np.histogram(feature['AstTo'].values, bins=10000, density=True)
hist/=hist.sum()
cdf['AstTo'] = stats.rv_discrete(name='AstTo', values=(bin_edges[:-1], hist))
feature['AstTo'] = cdf['AstTo'].cdf(feature['AstTo'].values)

In [28]:
feature.head()

,Season,Player,EfgO,EfgD,TopO,TopD,ORB,DRB,OFT,DFT,...,FG3Rate,FTRate,AstTo,Massey,Colley,Differ,MarkovRDV,MarkovSDV,OD,Keener
0,2003,1328,0.396552,0.164871,0.307112,0.545259,0.548491,0.747845,0.106681,0.506466,...,0.895474,0.528017,0.674569,-12.191715,0.991596,0.968400,0.007350,0.006349,3349.814697,0.003958
1,2003,1448,0.394397,0.362069,0.784483,0.299569,0.994612,0.456897,0.964440,0.351293,...,0.293103,0.908405,0.191810,-15.457868,0.927684,0.850153,0.007267,0.005603,3136.880859,0.003216
2,2003,1393,0.447198,0.134698,0.410560,0.270474,0.875000,0.024784,0.462284,0.169181,...,0.134698,0.372845,0.454741,-14.338999,0.969844,0.883792,0.005469,0.006014,3182.917480,0.003935
3,2003,1257,0.664871,0.188578,0.340517,0.851293,0.635776,0.173491,0.653017,0.971983,...,0.510776,0.392241,0.732759,-12.966325,0.919376,1.152905,0.011397,0.007718,3218.960449,0.004254
4,2003,1280,0.540948,0.370690,0.947198,0.884698,0.864224,0.567888,0.044181,0.165948,...,0.288793,0.223060,0.143319,-13.884743,0.852265,0.839959,0.006558,0.005341,3259.900146,0.003999

In [28]:
result['SeedDelta'] = (result['OpponentSeed']-result['PlayerSeed']+16.0)/31
result = pd.merge(result, feature, on=['Season', 'Player'])
result = pd.merge(result, feature, left_on=['Season', 'Opponent'], right_on=['Season', 'Player'], suffixes=["Ply", "Opp"])

In [29]:
result.drop(['PlayerOpp'], 1, inplace=True)
result = result.rename(columns={"PlayerPly": "Player"})

In [27]:
result.head()

,Result,Season,Player,Opponent,PlayerSeed,OpponentSeed,SeedDelta,EfgOPly,EfgDPly,TopOPly,...,AstOOpp,AstDOpp,MasseyOpp,ColleyOpp,DifferOpp,MarkovRVOpp,MarkovRDVOpp,MarkovSDVOpp,ODOpp,KeenerOpp
0,1,2003,1421,1411,16,16,0.516129,0.122845,0.970905,0.945043,...,0.367457,0.714440,0.324660,0.403616,0.037207,0.003139,0.001994,0.002649,1746.673584,0.002252
1,0,2003,1421,1400,16,1,0.032258,0.122845,0.970905,0.945043,...,0.216595,0.070043,28.597487,0.948236,0.730887,0.003414,0.007592,0.006023,2616.507080,0.004130
2,0,2003,1163,1400,5,1,0.387097,0.581897,0.049569,0.822198,...,0.216595,0.070043,28.597487,0.948236,0.730887,0.003414,0.007592,0.006023,2616.507080,0.004130
3,0,2003,1277,1400,7,1,0.322581,0.265086,0.270474,0.918103,...,0.216595,0.070043,28.597487,0.948236,0.730887,0.003414,0.007592,0.006023,2616.507080,0.004130
4,0,2003,1345,1400,9,1,0.258065,0.060345,0.437500,0.709052,...,0.216595,0.070043,28.597487,0.948236,0.730887,0.003414,0.007592,0.006023,2616.507080,0.004130

In [30]:
result['MasseyDelta'] = result.MasseyPly-result.MasseyOpp
result.drop(['MasseyPly', 'MasseyOpp'], 1, inplace=True)
result['ColleyDelta'] = result.ColleyPly-result.ColleyOpp
result.drop(['ColleyPly', 'ColleyOpp'], 1, inplace=True)
result['DifferDelta'] = result.DifferPly-result.DifferOpp
result.drop(['DifferPly', 'DifferOpp'], 1, inplace=True)
result['MarkovRDVDelta'] = result.MarkovRDVPly-result.MarkovRDVOpp
result.drop(['MarkovRDVPly', 'MarkovRDVOpp'], 1, inplace=True)
result['MarkovSDVDelta'] = result.MarkovSDVPly-result.MarkovSDVOpp
result.drop(['MarkovSDVPly', 'MarkovSDVOpp'], 1, inplace=True)
result['ODDelta'] = result.ODPly-result.ODOpp
result.drop(['ODPly', 'ODOpp'], 1, inplace=True)
result['KeenerDelta'] = result.KeenerPly-result.KeenerOpp
result.drop(['KeenerPly', 'KeenerOpp'], 1, inplace=True)

In [31]:
hist, bin_edges = np.histogram(result['MasseyDelta'].values, bins=10000, density=True)
hist/=hist.sum()
cdf['MasseyDelta'] = stats.rv_discrete(name='MasseyDelta', values=(bin_edges[:-1], hist))
result['MasseyDelta'] = cdf['MasseyDelta'].cdf(result['MasseyDelta'].values)

hist, bin_edges = np.histogram(result['ColleyDelta'].values, bins=10000, density=True)
hist/=hist.sum()
cdf['ColleyDelta'] = stats.rv_discrete(name='ColleyDelta', values=(bin_edges[:-1], hist))
result['ColleyDelta'] = cdf['ColleyDelta'].cdf(result['ColleyDelta'].values)

hist, bin_edges = np.histogram(result['DifferDelta'].values, bins=10000, density=True)
hist/=hist.sum()
cdf['DifferDelta'] = stats.rv_discrete(name='DifferDelta', values=(bin_edges[:-1], hist))
result['DifferDelta'] = cdf['DifferDelta'].cdf(result['DifferDelta'].values)

hist, bin_edges = np.histogram(result['MarkovRDVDelta'].values, bins=10000, density=True)
hist/=hist.sum()
cdf['MarkovRDVDelta'] = stats.rv_discrete(name='MarkovRDVDelta', values=(bin_edges[:-1], hist))
result['MarkovRDVDelta'] = cdf['MarkovRDVDelta'].cdf(result['MarkovRDVDelta'].values)

hist, bin_edges = np.histogram(result['MarkovSDVDelta'].values, bins=10000, density=True)
hist/=hist.sum()
cdf['MarkovSDVDelta'] = stats.rv_discrete(name='MarkovSDVDelta', values=(bin_edges[:-1], hist))
result['MarkovSDVDelta'] = cdf['MarkovSDVDelta'].cdf(result['MarkovSDVDelta'].values)

hist, bin_edges = np.histogram(result['ODDelta'].values, bins=10000, density=True)
hist/=hist.sum()
cdf['ODDelta'] = stats.rv_discrete(name='ODDelta', values=(bin_edges[:-1], hist))
result['ODDelta'] = cdf['ODDelta'].cdf(result['ODDelta'].values)

hist, bin_edges = np.histogram(result['KeenerDelta'].values, bins=10000, density=True)
hist/=hist.sum()
cdf['KeenerDelta'] = stats.rv_discrete(name='KeenerDelta', values=(bin_edges[:-1], hist))
result['KeenerDelta'] = cdf['KeenerDelta'].cdf(result['KeenerDelta'].values)

Parameter tunning

In [39]:
result.shape

(1828, 42)

In [50]:
Y.shape

(1292,)

In [68]:
from keras.models import Sequential
from keras.layers import Dense, Activation
from keras.regularizers import l2, l1, l1l2
from keras.optimizers import SGD

model = Sequential([
    Dense(1, input_dim=36, W_regularizer=l1l2(0.002, 0.005), init='lecun_uniform'),
    Activation('sigmoid')
])

opt = SGD(lr=0.14, momentum=0.89, decay=4e-5)
model.compile(optimizer=opt, loss='binary_crossentropy', metrics=['binary_crossentropy'])

In [33]:
seg = result[(result['Season'])<2013].copy()
X = seg.ix[:, 6:42].values
Y = seg.ix[:, 0].values
test = result[(result['Season']>=2013)].copy()
Xt = test.ix[:, 6:42].values
Yt = test.ix[:, 0].values

In [69]:
model.fit(X, np.expand_dims(Y, 1), nb_epoch=1000, batch_size=2048, validation_data=(Xt, np.expand_dims(Yt, 1)), verbose=0)

In [70]:
Yp = model.predict_proba(Xt)

 32/536 [>.............................] - ETA: 0s

In [71]:
#keeps the best auc
from sklearn.metrics import log_loss

log_loss(Yt, Yp)

0.55975982673299407

In [61]:
from sklearn.metrics import log_loss
log_loss(Yt, Yp, eps=1e-7)

0.56130580138415098

In [41]:
#keeps the best auc
from sklearn.metrics import roc_auc_score

roc_auc_score(Yt, Yp)

0.78017097349075515

In [62]:
from sklearn.metrics import roc_auc_score
roc_auc_score(Yt, Yp)

0.78134049899754965

using GBDT

In [40]:
import lightgbm as lgb

train_data = lgb.Dataset(X, label=Y)
valid_data = lgb.Dataset(Xt, label=Yt, reference=train_data)

In [41]:
params = {
    'boosting_type': 'gbdt',
    'objective': 'binary',
    'tree_learner': 'feature',
    'num_threads': 4,
    'metric': ['auc', 'binary_logloss'],
    'num_leaves': 31,
    'learning_rate': 0.05,
    'feature_fraction': 0.7,
    'verbose': 1
}

gbdt = lgb.train(params, train_data, 100, valid_sets=[valid_data])

[1]	valid_0's binary_logloss: 0.680136	valid_0's auc: 0.789485
[2]	valid_0's binary_logloss: 0.67091	valid_0's auc: 0.768211
[3]	valid_0's binary_logloss: 0.661989	valid_0's auc: 0.780018
[4]	valid_0's binary_logloss: 0.655022	valid_0's auc: 0.766763
[5]	valid_0's binary_logloss: 0.649124	valid_0's auc: 0.764424
[6]	valid_0's binary_logloss: 0.642882	valid_0's auc: 0.758632
[7]	valid_0's binary_logloss: 0.637037	valid_0's auc: 0.760526
[8]	valid_0's binary_logloss: 0.631912	valid_0's auc: 0.761083
[9]	valid_0's binary_logloss: 0.627628	valid_0's auc: 0.760637
[10]	valid_0's binary_logloss: 0.622388	valid_0's auc: 0.763088
[11]	valid_0's binary_logloss: 0.618993	valid_0's auc: 0.760192
[12]	valid_0's binary_logloss: 0.615262	valid_0's auc: 0.762976
[13]	valid_0's binary_logloss: 0.610783	valid_0's auc: 0.765427
[14]	valid_0's binary_logloss: 0.608805	valid_0's auc: 0.760971
[15]	valid_0's binary_logloss: 0.605005	valid_0's auc: 0.762308
[16]	valid_0's binary_logloss: 0.603281	valid_0's auc: 0.762085
[17]	valid_0's binary_logloss: 0.599637	valid_0's auc: 0.764981
[18]	valid_0's binary_logloss: 0.599302	valid_0's auc: 0.762308
[19]	valid_0's binary_logloss: 0.597046	valid_0's auc: 0.762196
[20]	valid_0's binary_logloss: 0.594776	valid_0's auc: 0.763979
[21]	valid_0's binary_logloss: 0.594089	valid_0's auc: 0.762419
[22]	valid_0's binary_logloss: 0.593558	valid_0's auc: 0.761751
[23]	valid_0's binary_logloss: 0.591751	valid_0's auc: 0.76487
[24]	valid_0's binary_logloss: 0.591947	valid_0's auc: 0.763088
[25]	valid_0's binary_logloss: 0.590511	valid_0's auc: 0.765315
[26]	valid_0's binary_logloss: 0.589655	valid_0's auc: 0.765984
[27]	valid_0's binary_logloss: 0.590094	valid_0's auc: 0.763088
[28]	valid_0's binary_logloss: 0.588519	valid_0's auc: 0.762642
[29]	valid_0's binary_logloss: 0.589399	valid_0's auc: 0.761528
[30]	valid_0's binary_logloss: 0.589133	valid_0's auc: 0.762308
[31]	valid_0's binary_logloss: 0.589789	valid_0's auc: 0.760303
[32]	valid_0's binary_logloss: 0.58772	valid_0's auc: 0.761417
[33]	valid_0's binary_logloss: 0.588064	valid_0's auc: 0.760303
[34]	valid_0's binary_logloss: 0.58862	valid_0's auc: 0.759857
[35]	valid_0's binary_logloss: 0.588234	valid_0's auc: 0.759857
[36]	valid_0's binary_logloss: 0.587536	valid_0's auc: 0.759857
[37]	valid_0's binary_logloss: 0.588499	valid_0's auc: 0.758521
[38]	valid_0's binary_logloss: 0.587081	valid_0's auc: 0.761194
[39]	valid_0's binary_logloss: 0.586586	valid_0's auc: 0.761194
[40]	valid_0's binary_logloss: 0.585909	valid_0's auc: 0.762753
[41]	valid_0's binary_logloss: 0.587386	valid_0's auc: 0.763644
[42]	valid_0's binary_logloss: 0.587194	valid_0's auc: 0.761194
[43]	valid_0's binary_logloss: 0.588382	valid_0's auc: 0.761194
[44]	valid_0's binary_logloss: 0.588417	valid_0's auc: 0.76164
[45]	valid_0's binary_logloss: 0.586576	valid_0's auc: 0.762531
[46]	valid_0's binary_logloss: 0.587775	valid_0's auc: 0.762531
[47]	valid_0's binary_logloss: 0.588392	valid_0's auc: 0.762753
[48]	valid_0's binary_logloss: 0.588305	valid_0's auc: 0.763199
[49]	valid_0's binary_logloss: 0.588618	valid_0's auc: 0.762976
[50]	valid_0's binary_logloss: 0.588747	valid_0's auc: 0.761194
[51]	valid_0's binary_logloss: 0.588757	valid_0's auc: 0.76164
[52]	valid_0's binary_logloss: 0.589188	valid_0's auc: 0.760526
[53]	valid_0's binary_logloss: 0.58885	valid_0's auc: 0.760971
[54]	valid_0's binary_logloss: 0.589355	valid_0's auc: 0.759189
[55]	valid_0's binary_logloss: 0.589534	valid_0's auc: 0.758075
[56]	valid_0's binary_logloss: 0.589221	valid_0's auc: 0.759857
[57]	valid_0's binary_logloss: 0.589665	valid_0's auc: 0.760971
[58]	valid_0's binary_logloss: 0.591018	valid_0's auc: 0.758744
[59]	valid_0's binary_logloss: 0.592111	valid_0's auc: 0.759635
[60]	valid_0's binary_logloss: 0.593345	valid_0's auc: 0.756961
[61]	valid_0's binary_logloss: 0.593708	valid_0's auc: 0.755402
[62]	valid_0's binary_logloss: 0.593013	valid_0's auc: 0.757407
[63]	valid_0's binary_logloss: 0.594495	valid_0's auc: 0.754957
[64]	valid_0's binary_logloss: 0.595144	valid_0's auc: 0.754288
[65]	valid_0's binary_logloss: 0.595034	valid_0's auc: 0.755179
[66]	valid_0's binary_logloss: 0.595375	valid_0's auc: 0.75607
[67]	valid_0's binary_logloss: 0.596205	valid_0's auc: 0.754734
[68]	valid_0's binary_logloss: 0.594784	valid_0's auc: 0.758075
[69]	valid_0's binary_logloss: 0.59623	valid_0's auc: 0.755625
[70]	valid_0's binary_logloss: 0.596526	valid_0's auc: 0.755625
[71]	valid_0's binary_logloss: 0.596709	valid_0's auc: 0.754734
[72]	valid_0's binary_logloss: 0.596678	valid_0's auc: 0.753174
[73]	valid_0's binary_logloss: 0.59707	valid_0's auc: 0.754288
[74]	valid_0's binary_logloss: 0.597157	valid_0's auc: 0.755402
[75]	valid_0's binary_logloss: 0.597127	valid_0's auc: 0.754065
[76]	valid_0's binary_logloss: 0.596283	valid_0's auc: 0.756516
[77]	valid_0's binary_logloss: 0.596253	valid_0's auc: 0.756293
[78]	valid_0's binary_logloss: 0.597248	valid_0's auc: 0.754957
[79]	valid_0's binary_logloss: 0.597627	valid_0's auc: 0.754065
[80]	valid_0's binary_logloss: 0.597102	valid_0's auc: 0.755179
[81]	valid_0's binary_logloss: 0.598189	valid_0's auc: 0.754734
[82]	valid_0's binary_logloss: 0.599268	valid_0's auc: 0.752506
[83]	valid_0's binary_logloss: 0.599005	valid_0's auc: 0.754288
[84]	valid_0's binary_logloss: 0.599414	valid_0's auc: 0.753397
[85]	valid_0's binary_logloss: 0.599675	valid_0's auc: 0.754065
[86]	valid_0's binary_logloss: 0.600016	valid_0's auc: 0.754288
[87]	valid_0's binary_logloss: 0.599701	valid_0's auc: 0.75607
[88]	valid_0's binary_logloss: 0.600404	valid_0's auc: 0.755402
[89]	valid_0's binary_logloss: 0.600697	valid_0's auc: 0.754065
[90]	valid_0's binary_logloss: 0.602247	valid_0's auc: 0.752952
[91]	valid_0's binary_logloss: 0.6025	valid_0's auc: 0.751615
[92]	valid_0's binary_logloss: 0.602674	valid_0's auc: 0.752283
[93]	valid_0's binary_logloss: 0.603312	valid_0's auc: 0.750724
[94]	valid_0's binary_logloss: 0.604207	valid_0's auc: 0.749833
[95]	valid_0's binary_logloss: 0.605627	valid_0's auc: 0.748274
[96]	valid_0's binary_logloss: 0.605343	valid_0's auc: 0.749165
[97]	valid_0's binary_logloss: 0.606282	valid_0's auc: 0.748719
[98]	valid_0's binary_logloss: 0.607499	valid_0's auc: 0.747828
[99]	valid_0's binary_logloss: 0.60764	valid_0's auc: 0.745823
[100]	valid_0's binary_logloss: 0.608497	valid_0's auc: 0.745823

# Submit result

In [38]:
submission = pd.read_csv("./Data/sample_submission.csv")
content = []
for row in submission.iterrows():
    content.append(map(int, row[1].ix[0].split('_')))

In [39]:
submission = pd.DataFrame(content, columns=['Season', 'Player', 'Opponent'])

In [40]:
# take features from existing data
t = pd.merge(submission, tourney_seeds, left_on=['Season', 'Player'], right_on=['Season', 'Team'])
t = t.ix[:, [0,1,2,5]]
t.columns = ['Season', 'Player', 'Opponent', 'PlayerSeed']
t = pd.merge(t, tourney_seeds, left_on=['Season', 'Opponent'], right_on=['Season', 'Team'])
t = t.ix[:, [0, 1, 2, 3, 6]]
t.columns = ['Season', 'Player', 'Opponent', 'PlayerSeed', 'OpponentSeed']
t['SeedDelta'] = (t['OpponentSeed']-t['PlayerSeed']+16.0)/31
t['SeedState'] = (17.0-t['PlayerSeed'].values)/16
t = pd.merge(t, feature, on=['Season', 'Player'])
t = pd.merge(t, feature, left_on=['Season', 'Opponent'], right_on=['Season', 'Player'], suffixes=["Ply", "Opp"])
t.drop('PlayerOpp', 1, inplace=True)
t = t.rename(columns={"PlayerPly": "Player"})

In [47]:
X = t.ix[:, 5:23].values
Y = rf.predict_proba(X)

In [48]:
t['Prediction']=Y[:, 1]

In [49]:
id = []
pred = []
for row in t.iterrows():
    id.append("{0}_{1}_{2}".format(int(row[1].ix[0]), int(row[1].ix[1]), int(row[1].ix[2])))
    pred.append(row[1].ix[23])

In [50]:
submit = pd.DataFrame({"id":id, "pred":pred}, columns=['id', 'pred'])

In [51]:
submit.head()

               id      pred
0  2013_1103_1107  0.527143
1  2013_1103_1112  0.275000
2  2013_1107_1112  0.075000
3  2013_1103_1125  0.395238
4  2013_1107_1125  0.309286

In [52]:
submit.to_csv("result.csv", index=False)

Try to calculate loss locally

In [53]:
submission = t[['Season', 'Player', 'Opponent', 'Prediction']]

In [54]:
submission.shape

(9112, 4)

In [55]:
t1 = pd.merge(submission, tourney_compact_results, left_on=['Season', 'Player', 'Opponent'], right_on=['Season', 'Wteam', 'Lteam'])
t2 = pd.merge(submission, tourney_compact_results, left_on=['Season', 'Player', 'Opponent'], right_on=['Season', 'Lteam', 'Wteam'])

In [56]:
t1['Label']=1
t2['Label']=0
submission = pd.concat([t1, t2], ignore_index=True)
log_loss(submission['Label'].values, submission['Prediction'].values)

0.2889324328931448